*.p6 linguist-language=Perl
*.awk linguist-language=AWK
*.rex linguist-language=Rexx
*.cbl linguist-language=Cobol
*.cob linguist-language=Cobol
*.f08 linguist-language=Fortran
*.for linguist-language=Fortran
*.py linguist-language=Python
*.m linguist-language=Mercury
*.c linguist-language=C
